@model IEnumerable<Totssy.Models.Product>

@{
    ViewData["Title"] = "products";
}

<h1>products</h1>

<p>
    <a asp-action="addproduct">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Html.Raw(item.Img)" width="110" height="120" class="productphoto">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", new { Name=item.Name }) |

                @Html.ActionLink("Details", "Product", new { Name = item.Name }) |
                <form asp-controller="product" asp-action="Deleteproduct" asp-route-Name="@item.Name">
                    <button type="submit" class=" btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
